services:
  postgres:
    image: postgres:16-alpine
    container_name: lms-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: lms
      POSTGRES_USER: lms
      POSTGRES_PASSWORD: lms_password
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
